{{- $url := .Get "url" -}}
{{- $thumbnail_url := .Get "thumbnail_url" -}}
{{- $title := .Get "title" | default "No Title" -}}
{{- $description := .Get "description" | default "" -}}
<a href="{{- $url -}}"
	style="padding: 12px; border: solid 1px #eee; display: flex; text-decoration: none; color: var(--text-color); border-radius: 5px;"
	onMouseOver="this.style.opacity='0.9'" target="_blank">
	<div style="flex-shrink: 0;">
		<img src="{{ $thumbnail_url }}" alt="thumbnail" width="100" height="100" style="object-fit: contain;" />
	</div>
	<div style="margin-left: 10px;">
		<h2 style="margin: 0; padding-bottom: 13px; border: none; font-size: 16px; color: var(--text-color);">
			{{- $title -}}
		</h2>
		<p
			style="margin: 0; font-size: 13px; word-break: break-word; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; color: var(--text-color);">
			{{- $description | plainify | safeHTML -}}
		</p>
	</div>
</a>
